<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.email }}!</h1>  <!-- Display the user's email -->
    <p>This is your personalized dashboard.</p>
    <div>
        <a href="{% url 'paper_builder' %}"><button>Create Paper</button></a>
    </div>
    <div>
        <a href="{% url 'logout' %}"><button>Log Out</button></a>
    </div>
    
</body>
</html>
